@model List<dotnetapp.Models.Enrollment>

<h2>Enrollments for the Course</h2>

<ul>
    @foreach (var enrollment in Model)
    {
        <div>
            <li>Student Name: @enrollment.StudentName</li>
            <li>Enrollment Date: @enrollment.EnrollmentDate.ToShortDateString()</li>
        </div>
    }
</ul>

<a asp-action="DisplayAllCourses" class="btn btn-primary">Back</a>
