<!DOCTYPE html>
<html>
<head>
    <title>Categories</title>
</head>
<body>
    <h1>Blog Categories</h1>
    <p>List of all blog categories.</p>
    <a href="/blog/index">Back to Home</a>
</body>
</html>
