.button-containers,.button-container{
    display: flex;
}

.button-containers button{
    margin-right:10px;
    margin-top:10px;
}

.textfield{
    line-height:20px;
}

.button-container button{
    margin-left:10px;
}