.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  animation: slideInUp 0.5s ease;
}

@keyframes slideInUp {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h2 {
  text-align: center;
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

.cart-item {
  display: flex;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.3s ease-in-out;
}

.cart-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.cart-item-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

.cart-item-details {
  padding-left: 10px;
}

.cart-item-details h3 {
  margin-top: 0;
  margin-bottom: 5px;
  color: #333;
}

.cart-item-details p {
  margin: 0;
  color: #666;
}

.loading-message {
  text-align: center;
  padding: 20px;
  animation: pulse 1s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.95);
  }
}

.total-price {
  text-align: right;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #ff2600; /* Blue color */
}

.total-price span {
  font-weight: bold;
}
