<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Welcome to Our Bookstore</h1>
    <p>This is the homepage of our online bookstore.</p>
    <ul>
        <li><a href="/book/books">Books</a></li>
        <li><a href="/book/authors">Authors</a></li>
        <li><a href="/book/categories">Categories</a></li>
    </ul>
</body>
</html>
