<!-- src/app/components/order/order.component.html -->
<div *ngIf="order">
    <h2>Order Summary</h2>
    <ul class="order-list">
      <li *ngFor="let item of order.items" class="order-item">
        <img [src]="item.product.imageUrl" alt="{{ item.product.name }}" class="product-image">
        <div class="product-details">
          <span>{{ item.product.name }}</span>
          <span>Price: ${{ item.product.price }}</span>
          <span>Quantity: {{ item.quantity }}</span>
        </div>
      </li>
    </ul>
    <p>Total Price: ${{ order.totalPrice }}</p>
    <p>Order Date: {{ order.orderDate | date:'medium' }}</p>
    <div class="button-container">
      <button (click)="placeOrder()" class="payment-button">Proceed to Payment</button>
    </div>
</div>
