@model List<dotnetapp.Models.Student>

<h2>Students Associated with Course</h2>

<ul>
    @foreach (var student in Model)
    {
        <div>
            <li>Student Number: @student.StudentNumber</li>
            <li>Name: @student.Name</li>
            <li>Enrollment Date: @student.EnrollmentDate.ToShortDateString()</li>
        </div>
    }
</ul>

<a asp-action="DisplayAllCourses" class="btn btn-primary">Back</a>
